.my-5 {
  font-family: 'Press Start 2P', 'cursive';
    font-size: 15px;
    color: #010081;
  
  }
  
  h1#about {
    font-family: 'Press Start 2P', 'cursive';
    font-size: 30px;
    color: #010081;
    font-weight: bold;
  }
      
  .me {
    position: absolute;
    top: 90px; /* adjusted this value to match the height of your navbar */
    left: 0;
    margin-left: 20px;
    width: 200px; 
    height: auto; /* maintains the aspect ratio of the image */
  }
  
  .intro { /* keeps .my-5 centered */
    text-align: center;
    margin-top: 20px;
    margin-left: 240px; 
    margin-right: 50px;
    padding: 20px;
    line-height: 2.5;
  }
  