form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid #010081;
    border-radius: 20px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input,
  textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #4F4846;
  }
  
  textarea {
    vertical-align: top;
    height: 60px;
  }
  
  button {
    height: 40px;
    width: 120px;
    background-color: #ff0081;
    color: #FDF8F5;
  }
  