header {
  font-family: 'Press Start 2P', 'cursive';
  width: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  text-align: center;
  background-color: 
  #008080; 
}
